# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore Debug
Debug/
Release/

# Ignore CEF resources
*.pak
.ninja*
*.dat
*.bin

# Ignore eclipse stuff
.cproject
.project
.settings/

# Ignore pycharm stuff
.idea/

# Ignore gradle stuff
.gradle/
build/
ceflib
ceflib.tar.gz

*.log
src/CMakeFiles
cmake_install.cmake
/Default
